<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
   <div>
    <h1>
        Customers,Orders,Products
    </h1>
    <ul>
        <li>Operation 1 => <a href="http://localhost:3001/op1">Click Here</a></li>
        <li>Operation 2 => <a href="http://localhost:3001/op2">Click Here</a></li>
        <li>Operation 3 => <a href="http://localhost:3001/op3">Click Here</a></li>
    </ul>
   </div>
</body>
</html>